[submodule "build-tools/ardos-packer"]
	path = build-tools/ardos-packer
	url = https://github.com/ardos-os/ardos-packer
[submodule "packages/glibc"]
	path = packages/glibc
	url = https://github.com/ardos-os/pkg-glibc
[submodule "packages/shift"]
	path = packages/shift
	url = https://github.com/ardos-os/shift
[submodule "packages/easydrm"]
	path = packages/easydrm
	url = https://github.com/ardos-os/easydrm
